-r requirements-dev.txt
-r requirements-base-test.txt

azure-storage==0.36.0
boto3==1.9.71
botocore==1.12.71
google-cloud-storage==1.13.2

fake-factory==9999.9.9
httpretty==0.9.6
moto==1.3.7
google-compute-engine==2.8.3
