-r requirements-dev.txt
-r requirements-base-test.txt

azure-storage==0.36.0
boto3==1.9.57
botocore==1.12.57
google-cloud-storage==1.13.0

fake-factory==9999.9.9
httpretty==0.8.14
moto==1.3.4
google-compute-engine==2.8.3
